[Unit]
Description=dolphin

[Service]
Type=simple
User=dolphin
ExecStart=/usr/bin/npm start
WorkingDirectory=/home/dolphin/dolphin
Environment="NODE_ENV=production"
#Environment="MK_DISABLE_CLUSTERING=1"
TimeoutSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dolphin
Restart=always

[Install]
WantedBy=multi-user.target
